<component name="libraryTable">
  <library name="Spring WebService" type="spring-ws">
    <CLASSES>
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/aopalliance-1.0.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/commons-logging-1.2.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-aop-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-aspects-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-batch-core-2.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-batch-infrastructure-2.2.6.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-beans-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-binding-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-context-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-context-support-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-core-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-data-jpa-1.3.3.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-expression-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-faces-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-instrument-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-instrument-tomcat-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-amqp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-core-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-event-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-feed-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-file-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-ftp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-gemfire-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-groovy-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-http-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-ip-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-jdbc-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-jms-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-jmx-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-jpa-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-mail-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-mongodb-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-mqtt-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-redis-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-rmi-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-scripting-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-security-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-sftp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-stream-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-syslog-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-test-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-twitter-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-ws-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-xml-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-integration-xmpp-4.0.3.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-jdbc-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-jms-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-js-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-js-resources-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-messaging-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-orm-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-oxm-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-acl-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-aspects-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-cas-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-config-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-core-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-crypto-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-ldap-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-openid-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-remoting-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-taglibs-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-security-web-3.2.5.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-test-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-tx-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-web-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-webflow-2.4.0.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-webmvc-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-webmvc-portlet-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-websocket-4.3.10.RELEASE.jar!/" />
      <root url="jar://$PROJECT_DIR$/../../../Spring 4.3.10 Framework/spring-ws.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>